<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../../lib/angular.js"></script>
    </head>

    <body ng-app>

        <B>EJEMPLO 1</B><BR>
        <button ng-mouseover="count = count + 1" ng-init="count = 0">
            Increment (when mouse is over)
        </button>
        Contador:{{count}}
        <HR width="25%" align="left">

        <B>EJEMPLO 2</B>
        <div id="template1" ng-cloak>{{ 'hello'}}</div>
        <div id="template2" ng-cloak class="ng-cloak">{{ 'hello IE7'}}</div>
        <HR width="25%" align="left">

        <B>EJEMPLO 3 </B>
        <div>Forma corriente: {{2 * 3}}</div>
        <div ng-non-bindable> Ejemplo {{2 * 3}}</DIV> 
        <HR width="25%" align="left">

        <B>EJEMPLO 4 </B>
        Click para activar casilla: <input type="checkbox" ng-model="checked"><br/>
        <button ng-model="button" ng-disabled="checked">Button</button>
        <HR width="25%" align="left">

        <B>EJEMPLO 5 </B>
        <br>
        <input type="button" value="Poner color" ng-click="myStyle = {color: 'red'}">
        <input type="button" value="Poner fondo" ng-click="myStyle = {'background-color': 'blue'}">
        <input type="button" value="Resetear" ng-click="myStyle = {}">
        <br/>
        <span ng-style="myStyle">Sample Text</span>


    </body>
</html>
