<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="grupo">
    <head>
        <title>Taller Angular</title>
        <script src="lib/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers/controllers.js" type="text/javascript"></script>
        <style> table {
                border-collapse: separate;
                border-spacing: 1px;
                background: #000 ;
                color: #fff;
            }
            td, th {
                background: #fff;
                color: #000;
            }</style>



    </head>
    <body ng-controller="grupoCtrl">
        <h1>Formulario PC</h1>
        Marca: <br><input type="text" ng-model="grupo.marca" /><br>
        Procesador:<br> <input type="text" ng-model="grupo.cpu" /> <br>
        Memoria RAM: <br><input type="text" ng-model="grupo.ram" /> <br> <br>
        <button ng-click="agregar(grupo)">Agregar</button>
        <br>
        <br>
        <table >
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Procesador</th>
                    <th>Memoria RAM</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="grupo in grupos">
                    <td>{{grupo.marca}}</td>
                    <td>{{grupo.cpu}}</td>
                    <td>{{grupo.ram}}</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
