<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eventos</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
    </head>
    <body ng-app="bindExample">
        <script>
            angular.module('bindExample', [])
                    .controller('controladorEvento1', ['$scope', function ($scope) {
                            $scope.name = 'Andrea';
                        }]);
        </script>
        <h1> Eventos </h1>
        <div>ng-bind</div>
        <div ng-controller="controladorEvento1">
            Cual es tu nombre: <input type="text" ng-model="name"><br>
            Hola <span ng-bind="name"></span>!
        </div> <br> 
        <div>ng-dblclick (doble click)</div>
        <div> <button ng-dblclick="count2 = count2 + 1" ng-init="count2 = 0">
                Incrementa (doble click)
            </button>
            count: {{count2}}</div><br> 
        <div>ng-click (click)</div>
        <button ng-click="count = count + 1" ng-init="count = 0">
            Incrementa
        </button>
        <span>
            count: {{count}}
        </span><br><br>  
        <div>  ng-paste </div>
        <div><input ng-paste="paste = true" ng-init="paste = false" placeholder='paste here'>
            pasted: {{paste}}</div><br>  
        <div>ng-cut</div>


        <div><input ng-cut="cut = true" ng-init="cut = false;
                value = 'cut me'" ng-model="value">
            cut: {{cut}}</div><br> <br> 








        <div> Abrir: <input type="checkbox" ng-model="open"><br/>
            <details id="details" ng-open="open">

                <summary>Hola</summary>
                <p>Mundo
                </p>
            </details></div>

    </body>
</html>