<!DOCTYPE html>
<html ng-app="grupos">
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <script src="lib/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers/controllers.js" type="text/javascript"></script>

    </head>
    <body ng-controller="grupoCtrl">
        <h3>Formulario</h3>
        <table>
            <thead>
                <tr>
                    <th>Marca  </th>
                    <th>Procesador  </th>
                    <th>RAM  </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grupo in grupos">
                    <td>{{grupo.marca}}</td>
                    <td>{{grupo.cpu}}</td>
                    <td>{{grupo.ram}}</td>
                </tr>
            </tbody>
        </table>
        <table><br><tt><b>Marca</b></tt><table><input type="text" ng-model="grupo.marca" /></table>
            <br><tt><b>Procesador</b></tt><table><input type="text" ng-model="grupo.cpu" /></table>
            <br><tt><b>RAM</b></tt><table><input type="text" ng-model="grupo.ram" /></table>
        </table>
        <br><button ng-click="agregar(grupo)">Agregar</button>
    </body>
</html>