<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example72-production</title>
  

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
  

  
</head>    
<body ng-app="">
    <div>  <button ng-mousemove="count1 = count1 + 1" ng-init="count1=0">
  Increment (when mouse moves)
</button>
        count: {{count1}}</div><br>
        <div> <button ng-mouseover="count = count + 1" ng-init="count=0">
  Increment (when mouse is over)
            </button> count: {{count}} </div><br>
        
<div><input ng-keydown="count2 = count2 + 1" ng-init="count2=0">
    key down count: {{count2}}</div> <br>
        <div>  <textarea ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>
            <pre>{{ list | json }}</pre></div>  <br>
    <div>Check me to select: <input type="checkbox" ng-model="selected"><br/>
<select>
  <option>Hello!</option>
  <option id="greet" ng-selected="selected">Greetings!</option>
</select></div>
</body>
</html>