<!DOCTYPE html>
<html ng-app="grupos">
    <head>
        <title>Asistencia</title>
        <meta charset="UTF-8">
        <script src="lib/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers/controllers.js" type="text/javascript"></script>

    </head>
    <body ng-controller="grupoCtrl">
        
        <h3>Grupos</h3>
        Marca: <input type="text" ng-model="grupo.marca" /><br>
        Procesador: <input type="text" ng-model="grupo.cpu" /> <br>
        RAM: <input type="text" ng-model="grupo.ram" /> <br> <br>
         <button ng-click="agregar(grupo)">Agregar</button>
         <br>
         <br>
        <table border="1">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Procesador</th>
                    <th>RAM</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grupo in grupos">
                    <td>{{grupo.marca}}</td>
                    <td>{{grupo.cpu}}</td>
                    <td>{{grupo.ram}}</td>
                </tr>
            </tbody>
        </table>
        <hr>   
    </body>
</html>
