<!doctype html>
<html lang="en">
<head>
   
   
   
  <meta charset="UTF-8">
  <title>Example - example-example56-production</title>
 
 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
 
 
 
 
 
</head>
<body ng-app="emailExample">
    <style>
       
       
        span {
  color: black;
}
    </style>
   
    <p> ng readonly </p>
    <div>
  Check me to make text readonly: <input type="checkbox" ng-model="checked"><br/>
<input type="text" ng-readonly="checked" value="I'm Angular"/>
    </div><br><br>
   
    <p> ng-disabled </p>
    <div>Click me to toggle: <input type="checkbox" ng-model="checked2"><br/>
<button ng-model="button" ng-disabled="checked2">Button</button></div>
   
    <p> email </p>
    <div>
       
       <script>
  angular.module('emailExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.email = {
        text: 'me@example.com'
      };
    }]);
</script>
  <form name="myForm" ng-controller="ExampleController">
    Email: <input type="email" name="input" ng-model="email.text" required>
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.email">
      Not valid email!</span>
    <tt>text = {{email.text}}</tt><br/>
    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
    <tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/>
  </form>
       
    </div>    
   
    <p> key press </p>
    <div>
     
        <input ng-keypress="count = count + 1" ng-init="count=0">
key press count: {{count}}
       
    </div>
   
    <p> ng style  </p>
   
    <div>
       
      <input type="button" value="set color" ng-click="myStyle={color:'green'}">
<input type="button" value="set background" ng-click="myStyle={'background-color':'yellow'}">
<input type="button" value="clear" ng-click="myStyle={}">
<br/>
<span ng-style="myStyle">Sample Text</span>
<pre>myStyle={{myStyle}}</pre>  
       
       
    </div>
   
 
   
</body>
</html>
