<html ng-app="grupos">
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <script src="lib/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controller/controller.js" type="text/javascript"></script>

    </head>
    <body ng-controller="grupoCtrl">
       
        <span>Marca:</span> <input type="text" ng-model="grupo.marca"/>
        
        Procesador: <input type="text" ng-model="grupo.pro"/>
        Ram: <input type="text" ng-model="grupo.ram"/>
         <button ng-click="agregar(grupo)">Agregar</button>
        
        <table>
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Procesador</th>
                    <th>Ram</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grupo in grupos">
                    <td>{{grupo.marca}}</td>
                    <td>{{grupo.pro}}</td>
                    <td>{{grupo.ram}}</td>
                    
                </tr>
                
            </tbody>
        </table>
    </body>
</html>