<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example72-production</title>
  

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
  

  
</head>
<body ng-app="">
  <button ng-mouseover="count = count + 1" ng-init="count=0">
  INCREMENTA (SI PONE EL MOUSE SOBRE ESTO )
</button>
count: {{count}}
</body>
</html>