<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example72-production</title>
 
 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
 
 
 
</head>
<body ng-app="valueExample">
 
    <p>ng-mouseover</p>
    <div>
    <button ng-mouseover="count = count - 1" ng-init="count=10">
  decrece a partir de 10(when mouse is over)
</button>
count: {{count}}
    </div>
   
    <p>ng-copy</p>
    <div>
        <input ng-copy="copied=true" ng-init="copied=false; value='Copiame'" ng-model="value">
copiado: {{copied}}
    </div>
   
 
    <p>ng-value</p>
    <div>
    <script>
   angular.module('valueExample', [])
     .controller('ExampleController', ['$scope', function($scope) {
       $scope.names = ['Zed', 'Vayne', 'Jinx', 'Yasuo', 'Teemo'];
       $scope.my = { favorite: '...' };
     }]);
</script>
 <form ng-controller="ExampleController">
   <h2>Cual es tu campeón favorito?</h2>
     <label ng-repeat="name in names" for="{{name}}">
       {{name}}
       <input type="radio"
              ng-model="my.favorite"
              ng-value="name"
              id="{{name}}"
              name="favorite">
     </label>
   <div>You escogiste {{my.favorite}}</div>
 </form>
    </div>
   
   
   
</body>
</html>
