<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
        <script src="../../lib/angular.js"></script>
    </head>
   
    <body ng-app="">      
 
        <B><div> ng-KeyDown </div></B>
        <input ng-keydown="count = count + 1" ng-init="count=0">
        key down count: {{count}}
 
       
  <HR width="25%" align="left">
 
<B><div> ng-Select </div></B>
 
Check me to select: <input type="checkbox" ng-model="selected"><br/>
<select>
  <option>Hello!</option>
  <option id="greet" ng-selected="selected">Greetings!</option>
</select>
 
       
  <HR width="25%" align="left">
 
<B><div> ng-Readonly </div></B>
 
 
Check me to make text readonly: <input type="checkbox" ng-model="checkedd"><br/>
<input type="text" ng-readonly="checkedd" value="I'm Angular"/>
 
 
 
 <HR width="25%" align="left">
 
<B><div> ng-Show </div></B>
 
Click me: <input type="checkbox" ng-model="checked"><br/>
  Show:
  <div class="check-element animate-show" ng-show="checked">
    <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-show" ng-hide="checked">
    <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
  </div>
</div>
 
 
 
 <HR width="25%" align="left">
 
<B><div> ng-Style </div></B>
 
<input type="button" value="set color" ng-click="myStyle={color:'red'}">
<input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
<input type="button" value="clear" ng-click="myStyle={}">
<br/>
<span ng-style="myStyle">Sample Text</span>
<pre>myStyle={{myStyle}}</pre>
 
 
</body>
 
 
 
 
 
 
</html>